/* My Custom Styles */


/* common */
body {
    background-color: #FFFFFF;
}

.inline {
    display: inline-block;
}

.mar_0 {
    margin: 0px;
}

.bor_0 {
    border: 0px;
}

.pad_0 {
    padding: 0px;
}

.mar_bor_0 {
    margin: 0px;
    border: 0px;
}

.bor_pad_0 {
    border: 0px;
    padding: 0px;
}

.mar_pad_0 {
    margin: 0px;
    padding: 0px;
}

.mar_bor_pad_0 {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

.section_baseline_60 {
    opacity: 1;
    width: 60px;
    border-top: 0px;
    border-bottom: 3px solid #444BBD;
    border-left: 0px;
    border-right: 0px;
}

.section_baseline_100 {
    opacity: 1;
    width: 100px;
    border-top: 0px;
    border-bottom: 3px solid #444BBD;
    border-left: 0px;
    border-right: 0px;
}

.footer_baseline_100 {
    opacity: 1;
    width: 100px;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 30px;
    margin-right: 0px;
    border-top: 0px;
    border-bottom: 3px solid #444BBD;
    border-left: 0px;
    border-right: 0px;
}


/* header */
.header {
    display: block;
}

.img_mumu_guitar{
    float: left;
    margin-top: 28px;
    margin-bottom: 28px;
    margin-left: 20px;
    margin-right: 0px;
}

.img_fig_font {
    font-size: 14px;
    color: #141637;
    text-align: center;
}

.four_functions {
    float: right;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 20px;
}

.login_register_favorite_function {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 32px;
    margin-right: 0px;
}

.trolley_function {
    margin-top:10px;
    margin-bottom:10px;
    margin-left:32px;
    margin-right:32px;
}


/* navbar */
.navbar_inner {
    width: 1320px;
    background-color: #141637;
}

.navbar_btn {
    width:90px;
    height: 24px;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #141637;
    margin-top: 9px;
    margin-bottom: 9px;
    margin-left: 16px;
    margin-right: 16px;
}


/* footer */
.footer {
    display: block;
    background-color: #141637;
}