/* My Custom Styles */


/* checkout.css */
.section {
    display: block;
}

.section_row1 {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 30px;
    padding-right: 30px;
    background: linear-gradient(180deg, #FFFFFF 0%, #F8F8F8 80.21%);
}

.section_row1_col1 {
    font-size: 16px;
    color: #141637;
    line-height: 30px;
    text-align: right;
    height: 30px;
    margin-top: 30px;
}

.section_row2 {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 30px;
    padding-right: 30px;
}

.section_row2_col1 {
    border-top: 0px;
    border-bottom: 1px solid #CDCDCD;
    border-left: 0px;
    border-right: 0px;
}

.section_row3 {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #F8F8F8;
}

.section_row3_col1_row1 {
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 0px;
    margin-right: 0px;
}

.section_row3_col1_row2 {
    background-color: #D8D8D8;
}

.section_row3_col1_row3-1 {
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 0px;
}

.section_row3_col1_row3-2 {
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 0px;
    border-top: 0px;
    border-bottom: 1px solid #CDCDCD;
    border-left: 0px;
    border-right: 0px;
}

.s_r3_c1_r3_div {
    width: 200px;
    font-size: 20px;
    color: #141637;
    margin: 0px 100px 10px 0px;
}

.section_row3_col1_row4-1 {
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 0px;
}

.section_row3_col1_row4-2 {
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 0px;
}

.s_r3_c1_r4_div {
    font-size: 20px;
    color: #141637;
}

.section_row3_col1_row5 {
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 0px;
    border-top: 1px solid #CDCDCD;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    padding-top: 10px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.s_r3_c1_r5_div {
    font-size: 20px;
    color: #141637;
    margin: 0px 0px 10px 0px;
}

.back_btn {
    font-size: 20px;
    color: #FFFFFF;
    width: 100px;
    height: 42px;
    background-color: #444BBD;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 0px;
    margin-right: 0px;
}