<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS -->
    <link type="text/css" rel="stylesheet" href="./styles/bootstrap.min.css"> <!-- Bootstrap CSS -->
    <link type="text/css" rel="stylesheet" href="./styles/common.css">
    <link type="text/css" rel="stylesheet" href="./styles/manager_product.css">

    <!-- JavaScript -->
    <script type="text/javascript" src="./scripts/bootstrap.bundle.min.js" defer></script> <!-- Bootstrap JS -->
    <script type="text/javascript" src="./scripts/common.js" defer></script>
    <script type="text/javascript" src="./scripts/manager.js" defer></script>

    <title>木木吉他</title>
</head>
<body>
<header class="container-xl pad_0 header">
    <div class="row mar_0">
        <div class="col-4 pad_0">
            <!-- Logo -->
            <img src="./images/mumu_guitar.svg" onclick="manager_orderPage()" class="img-fluid img_mumu_guitar">
        </div>

        <div class="col pad_0">
            <div class="row four_functions">
                <div class="col d-flex align-items-center pad_0">
                    <span class="d-flex justify-content-center align-items-center"
                          style="width: 100px; height: 30px; margin: 0px 20px 0px 0px;">管理員介面</span>
                    <span class="d-flex justify-content-center align-items-center"
                          style="width: 60px; height: 30px; margin: 0px 10px 0px 0px; color: blue;">管理員</span>
                    <span class="d-flex justify-content-center align-items-center"
                          style="width: 40px; height: 30px; margin: 0px 10px 0px 0px;">您好</span>
                </div>

                <!-- 登出 -->
                <figure onclick="logInOut()" class="col pad_0 login_register_favorite_function">
                    <img src="./images/person-square.svg" class="img-fluid">
                    <figcaption id="id_logInOut" class="img_fig_font">登出</figcaption>
                </figure>
            </div>
        </div>
    </div>
</header>

<nav class="navbar navbar-expand-xl justify-content-center pad_0">
    <div class="container-xl d-flex justify-content-center flex-wrap pad_0 navbar_inner">
        <button type="button" onclick="manager_orderPage()" class="d-flex justify-content-center align-items-center bor_pad_0 navbar_btn">訂單管理</button>
        <button type="button" onclick="manager_productPage()" class="d-flex justify-content-center align-items-center bor_pad_0 navbar_btn">商品管理</button>
        <button type="button" onclick="manager_memberPage()" class="d-flex justify-content-center align-items-center bor_pad_0 navbar_btn">會員管理</button>
    </div>
</nav>

<section class="container-xl pad_0 section">
    <div class="row mar_0 section_row1">
        <div class="col pad_0 section_row1_col1">
            <div class="row mar_0">
                <span class="pad_0" style="font-size: 20px; color: #141637;">商品管理</span>
                <hr class="mar_pad_0 section_baseline_100">
            </div>
        </div>

        <div class="col pad_0 section_row1_col2">
            <!-- 搜尋商品編號 -->
            <div class="d-flex d-flex justify-content-center align-items-center">
                <form action="productController.do?operate=getAllProductList" method="post" class="pad_0">
                    <span class="pad_0" style="font-size: 20px; color: #141637;">搜尋商品編號</span>
                    <input type="number" name="searchProductNumber" th:value="${session.session_searchProductNumber}" class="input_style">
                    <button type="submit" class="bor_pad_0 search_btn">搜尋</button>
                </form>
                <button id="addProductBtn" type="button" onclick="showAddProductForm()" class="bor_pad_0 add_btn">新增商品</button>
            </div>
        </div>
    </div>

    <!-- 水平分隔線 -->
    <div class="row mar_0 section_row2">
        <div class="col pad_0 section_row2_col1"></div>
    </div>

    <div class="row mar_0 section_row3">
        <div class="col pad_0">

            <div class="row mar_0 section_row3_col1_row1-1">
                <div class="d-flex justify-content-center align-items-center pad_0" style="width: 100px;">商品編號</div>
                <div class="d-flex justify-content-center align-items-center pad_0" style="width: 400px;">商品</div>
                <div class="d-flex justify-content-center align-items-center pad_0" style="width: 100px;">品牌</div>
                <div class="d-flex justify-content-center align-items-center pad_0" style="width: 100px;">型號</div>
                <div class="d-flex justify-content-center align-items-center pad_0" style="width: 100px;">分類</div>
                <div class="d-flex justify-content-center align-items-center pad_0" style="width: 100px;">單價</div>
                <div class="d-flex justify-content-center align-items-center pad_0" style="width: 50px;">庫存</div>
                <div class="d-flex justify-content-center align-items-center pad_0" style="width: 50px;">銷量</div>
                <div class="d-flex justify-content-center align-items-center pad_0" style="width: 100px;">功能</div>
                <div class="d-flex justify-content-center align-items-center pad_0" style="width: 100px;">功能</div>
            </div>

            <!-- 新增商品時用的。 -->
            <div id="addProductDiv" class="pad_0" hidden="hidden">
                <form id="addProductForm" action="productController.do?operate=addProduct" method="post" class="d-flex pad_0 section_row3_col1_row1-2" style="background-color: #FFFFFF">
                    <div class="pad_0">
                        <input type="text" name="productNumber" class="d-flex justify-content-center align-items-center pad_0" style="width: 100px;">
                    </div>
                    <div class="d-flex justify-content-start pad_0" style="width: 400px;">
                        <div class="pad_0">
                            <input type="text" name="productPhoto">
                        </div>
                        <div class="pad_0">
                            <input type="text" name="productName">
                            <input type="textarea" name="productIntroduce">
                        </div>
                    </div>
                    <div class="pad_0">
                        <input type="text" name="productBrand" class="d-flex justify-content-center align-items-center pad_0" style="width: 100px;">
                    </div>
                    <div class="pad_0">
                        <input type="text" name="productModel" class="d-flex justify-content-center align-items-center pad_0" style="width: 100px;">
                    </div>
                    <div class="pad_0">
                        <input type="text" name="productType" class="d-flex justify-content-center align-items-center pad_0" style="width: 100px;">
                    </div>
                    <div class="pad_0">
                        <input type="number" name="productPrice" class="d-flex justify-content-center align-items-center pad_0" style="width: 100px;">
                    </div>
                    <div class="pad_0">
                        <input type="number" name="productInventory" class="d-flex justify-content-center align-items-center pad_0" style="width: 50px;">
                    </div>
                    <div class="pad_0">
                        <input type="number" name="productSales" class="d-flex justify-content-center align-items-center pad_0" style="width: 50px;">
                    </div>

                    <input type="submit" value="確定" class="d-flex justify-content-center align-items-center pad_0" style="cursor: pointer; width: 100px; color: blue;">
                    <input type="reset" value="清除" class="d-flex justify-content-center align-items-center pad_0 js_status" style="cursor: pointer; width: 100px; color: blue;">
                </form>
            </div>

            <!-- 展示所有商品 -->
            <div th:if="${#lists.isEmpty(session.allProductList)}">尚無會員。</div>
            <div th:unless="${#lists.isEmpty(session.allProductList)}"
                 th:each="product : ${session.allProductList}"
                 class="d-flex pad_0 section_row3_col1_row1-2" style="background-color: #FFFFFF">
                <div th:text="${product.number}" th:id="'number_id_' + ${product.id}" th:data-productIntroduce = "${product.introduce}" class="d-flex justify-content-center align-items-center pad_0" style="width: 100px;">商品編號</div>
                <div th:id="'photoAndName_id_' + ${product.id}" class="d-flex justify-content-start align-items-center pad_0" style="width: 400px;">
                    <img th:src="'./images/' + ${product.photo}" class="img_product">
                    <span th:text="${product.name}">商品名稱</span>
                </div>
                <div th:text="${product.brand}" th:id="'brand_id_' + ${product.id}" class="d-flex justify-content-center align-items-center pad_0" style="width: 100px;">品牌</div>
                <div th:text="${product.model}" th:id="'model_id_' + ${product.id}" class="d-flex justify-content-center align-items-center pad_0" style="width: 100px;">型號</div>
                <div th:text="${product.type}" th:id="'type_id_' + ${product.id}" class="d-flex justify-content-center align-items-center pad_0" style="width: 100px;">分類</div>
                <div th:text="${product.price}" th:id="'price_id_' + ${product.id}" class="d-flex justify-content-center align-items-center pad_0" style="width: 100px;">單價</div>
                <div th:text="${product.inventory}" th:id="'inventory_id_' + ${product.id}" class="d-flex justify-content-center align-items-center pad_0" style="width: 50px;">庫存</div>
                <div th:text="${product.sales}" th:id="'sales_id_' + ${product.id}" class="d-flex justify-content-center align-items-center pad_0" style="width: 50px;">銷量</div>
                <div th:onclick="'editProduct(' + ${product.id} + ')'" th:id="'editBtn_id_' + ${product.id}" class="d-flex justify-content-center align-items-center pad_0" style="cursor: pointer; width: 100px; color: blue;">修改</div>
                <div th:text="${product.status}"  th:onclick="'stopSaleProduct(' + ${product.id} + ')'" th:id="'stopSaleBtn_id_' + ${product.id}" class="d-flex justify-content-center align-items-center pad_0 js_status" style="cursor: pointer; width: 100px; color: blue;">狀態</div>
            </div>

            <div class="row mar_0 section_row3_col1_row2">
                <div class="col d-flex justify-content-center pad_0">
                    <!-- 下拉式選單 - 換頁 -->
                    <div class="dropdown" style="width: 85px;">
                        <button id="dropdownMenuButton1" type="button" data-bs-toggle="dropdown" aria-expanded="false"
                                class="btn dropdown-toggle"
                                style="padding-top: 2px; padding-bottom: 2px; padding-left: 6px; padding-right: 6px;"
                                th:text="'第 ' + ${session.session_pageNumber} + ' 頁'">頁碼</button>
                        <ul id="dropdown-menu1" class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <!-- 利用 th:each 迴圈生成分頁頁碼的下拉式選單。 -->
                            <li th:each="i : ${#numbers.sequence(1, session.pages)}"><a th:data-value="${i}" th:href="'productController.do?operate=getAllProductList&pageNumber=' + ${i}" class="dropdown-item" th:text="'第 ' + ${i} + ' 頁'">頁碼</a></li>
                        </ul>
                    </div>
                    <span th:text="'商品數量：' + ${session.productCount}"
                          class="d-flex justify-content-center align-items-center pad_0"
                          style="font-size: 16px; color: #141637;">商品數量</span>
                </div>
            </div>

        </div>
    </div>
</section>

<footer class="container-xl pad_0 footer">
    <div class="row justify-content-around mar_0">

        <div class="col pad_0">
            <div class="row mar_0">
                <span class="pad_0"
                      style="margin-top: 10px; margin-bottom: 0px; margin-left: 30px; margin-right: 0px; font-size: 20px; color: #FFFFFF;">關於我們</span>
                <hr class="pad_0 footer_baseline_100">
            </div>
            <div class="row mar_0">
        <span class="pad_0"
              style="width: 270px; margin-top: 0px; margin-bottom: 0px; margin-left: 30px; margin-right: 0px; font-size: 16px; color: #FFFFFF;">
          木木吉他是一家專注於吉他的線上零售商。我們為吉他愛好者提供一系列優質的吉他產品和配件。<br>
          我們與知名品牌合作，提供精心製作的吉他，擁有卓越的音色和舒適的演奏體驗。<br>
          無論你是初學者還是專業音樂家，木木吉他都能滿足你的吉他需求。請瀏覽我們的網站，探索我們豐富的吉他產品系列，開始你的音樂之旅吧！<br><br>
        </span>
            </div>
        </div>

        <div class="col pad_0">
            <div class="row mar_0">
                <span class="pad_0"
                      style="margin-top: 10px; margin-bottom: 0px; margin-left: 30px; margin-right: 0px; font-size: 20px; color: #FFFFFF;">追蹤我們</span>
                <hr class="pad_0 footer_baseline_100">
            </div>
            <div class="row mar_0">
                <span class="pad_0"
                      style="width: 270px; margin-top: 0px; margin-bottom: 0px; margin-left: 30px; margin-right: 0px; font-size: 16px; color: #FFFFFF;">
                    Facebook<br><br>
                    Instagram<br><br>
                    Youtube<br><br>
                </span>
            </div>
        </div>

        <div class="col pad_0">
            <div class="row mar_0">
                <span class="pad_0"
                      style="margin-top: 10px; margin-bottom: 0px; margin-left: 30px; margin-right: 0px; font-size: 20px; color: #FFFFFF;">會員相關</span>
                <hr class="pad_0 footer_baseline_100">
            </div>
            <div class="row mar_0">
                <span class="pad_0"
                      style="width: 270px; margin-top: 0px; margin-bottom: 0px; margin-left: 30px; margin-right: 0px; font-size: 16px; color: #FFFFFF;">
                    退貨與取消訂單<br><br>
                    隱私聲明<br><br>
                </span>
            </div>
        </div>

        <div class="col pad_0">
            <div class="row mar_0">
                <span class="pad_0"
                      style="margin-top: 10px; margin-bottom: 0px; margin-left: 30px; margin-right: 0px; font-size: 20px; color: #FFFFFF;">服務時間</span>
                <hr class="pad_0 footer_baseline_100">
            </div>
            <div class="row mar_0">
                <span class="pad_0"
                      style="width: 270px; margin-top: 0px; margin-bottom: 0px; margin-left: 30px; margin-right: 0px; font-size: 16px; color: #FFFFFF;">
                    週一~五 - 09:00 ~ 18:00<br><br>
                    週六 - 10:00 ~ 18:00<br><br>
                    週日 - 公休<br><br>
                </span>
            </div>
        </div>

    </div>
</footer>
</body>
</html>