<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS -->
    <link type="text/css" rel="stylesheet" href="./styles/bootstrap.min.css"> <!-- Bootstrap CSS -->
    <link type="text/css" rel="stylesheet" href="./styles/common.css">
    <link type="text/css" rel="stylesheet" href="./styles/productDescription.css">

    <!-- JavaScript -->
    <script type="text/javascript" src="./scripts/bootstrap.bundle.min.js" defer></script> <!-- Bootstrap JS -->
    <script type="text/javascript" src="./scripts/common.js" defer></script>
    <script type="text/javascript" src="./scripts/productDescription.js" defer></script>
    <script type="text/javascript" src="./scripts/manager.js" defer></script>
    <script type="text/javascript" src="./scripts/axios.min.js"></script> <!-- Axios 異步請求框架 -->

    <title>木木吉他</title>
</head>
<body>
<header class="container-xl pad_0 header">
    <!-- 若為一般用戶則顯示以下。 -->
    <div th:if="${session.user.identity} != 'manager'" class="row mar_0">
        <div class="col-4 pad_0">
            <!-- Logo -->
            <img src="./images/mumu_guitar.svg" onclick="index()" class="img-fluid img_mumu_guitar">
        </div>

        <div class="col pad_0">
            <div class="row four_functions">
                <!-- 會員圖 -->
                <figure onclick="logInOut()" class="col pad_0 login_register_favorite_function">
                    <img src="./images/person-square.svg" class="img-fluid">
                    <!-- 注意，這裡 figcaption 中的文本不要有換行，否則在 common.js 的 logInOut() 中判斷時會因為換行字符而出 Bug。 -->
                    <figcaption id="id_logInOut" th:if="${session.user.username == null}" class="img_fig_font">會員登入</figcaption>
                    <figcaption id="id_logInOut" th:unless="${session.user.username == null}" class="img_fig_font">登出</figcaption>
                </figure>
                <!-- 註冊圖 -->
                <figure onclick="register()" class="col pad_0 login_register_favorite_function">
                    <img src="./images/register.svg" class="img-fluid">
                    <figcaption class="img_fig_font">會員註冊</figcaption>
                </figure>
                <!-- 收藏圖 -->
                <figure onclick="favorite()" class="col pad_0 login_register_favorite_function">
                    <img src="./images/heart.svg" class="img-fluid">
                    <figcaption class="img_fig_font">商品收藏</figcaption>
                </figure>
                <!-- 購物車圖 -->
                <figure onclick="trolley()" class="col pad_0 trolley_function">
                    <img src="./images/trolley.svg" class="img-fluid">
                    <figcaption class="img_fig_font">購物車</figcaption>
                </figure>
            </div>
        </div>
    </div>

    <!-- 若為管理員則顯示以下。 -->
    <div th:if="${session.user.identity} == 'manager'" class="row mar_0">
        <div class="col-4 pad_0">
            <!-- Logo -->
            <img src="./images/mumu_guitar.svg" onclick="manager_orderPage()" class="img-fluid img_mumu_guitar">
        </div>

        <div class="col pad_0">
            <div class="row four_functions">
                <div class="col d-flex align-items-center pad_0">
                    <span class="d-flex justify-content-center align-items-center"
                          style="width: 100px; height: 30px; margin: 0px 20px 0px 0px;">管理員介面</span>
                    <span class="d-flex justify-content-center align-items-center"
                          style="width: 60px; height: 30px; margin: 0px 10px 0px 0px; color: blue;">管理員</span>
                    <span class="d-flex justify-content-center align-items-center"
                          style="width: 40px; height: 30px; margin: 0px 10px 0px 0px;">您好</span>
                </div>

                <!-- 登出 -->
                <figure onclick="logInOut()" class="col pad_0 login_register_favorite_function">
                    <img src="./images/person-square.svg" class="img-fluid">
                    <figcaption id="id_logInOut" class="img_fig_font">登出</figcaption>
                </figure>
            </div>
        </div>
    </div>
</header>

<nav class="navbar navbar-expand-xl justify-content-center pad_0">
    <!-- 若為一般用戶則顯示以下。 -->
    <div th:if="${session.user.identity} != 'manager'" class="container-xl d-flex justify-content-center flex-wrap pad_0 navbar_inner">
        <button type="button" onclick="index()"
                class="d-flex justify-content-center align-items-center bor_pad_0 navbar_btn">所有商品</button>
        <button type="button" onclick="index_woodenGuitar()"
                class="d-flex justify-content-center align-items-center bor_pad_0 navbar_btn">木吉他</button>
        <button type="button" onclick="index_electricGuitar()"
                class="d-flex justify-content-center align-items-center bor_pad_0 navbar_btn">電吉他</button>
        <button type="button" class="d-flex justify-content-center align-items-center bor_pad_0 navbar_btn">吉他弦</button>
        <button type="button" class="d-flex justify-content-center align-items-center bor_pad_0 navbar_btn">吉他配件</button>
        <button type="button" class="d-flex justify-content-center align-items-center bor_pad_0 navbar_btn">擴音設備</button>
        <button type="button" class="d-flex justify-content-center align-items-center bor_pad_0 navbar_btn">琴袋琴盒</button>
    </div>

    <!-- 若為管理員則顯示以下。 -->
    <div th:if="${session.user.identity} == 'manager'" class="container-xl d-flex justify-content-center flex-wrap pad_0 navbar_inner">
        <button type="button" onclick="manager_orderPage()" class="d-flex justify-content-center align-items-center bor_pad_0 navbar_btn">訂單管理</button>
        <button type="button" onclick="manager_productPage()" class="d-flex justify-content-center align-items-center bor_pad_0 navbar_btn">商品管理</button>
        <button type="button" onclick="manager_memberPage()" class="d-flex justify-content-center align-items-center bor_pad_0 navbar_btn">會員管理</button>
    </div>
</nav>

<section class="container-xl pad_0 section">
    <!-- 登入歡迎訊息 -->
    <div th:if="${session.user.identity} != 'manager'" class="row mar_0 section_row1">
        <div th:if="${session.user.username == null}" class="col pad_0 section_row1_col1">訪客 歡迎光臨~!</div>
        <div th:unless="${session.user.username == null}" class="col pad_0 section_row1_col1">
            <a th:text="${session.user.username}" href="index.do?operate=member_personalInformationPage">用戶名稱</a> 歡迎光臨~!</div>
    </div>

    <!-- 水平分隔線 -->
    <div th:if="${session.user.identity} != 'manager'" class="row mar_0 section_row2">
        <div class="col pad_0 section_row2_col1"></div>
    </div>

    <div th:object="${session.productDesc}"
         class="row mar_0 section_row3">
        <!-- 商品圖片 -->
        <div class="col-5 section_row3_col1">
            <img th:src="'./images/' + *{photo}"
                 style="width: 100%; border: 3px solid #CDCDCD; border-radius: 5px;">
        </div>

        <!-- 商品訊息 -->
        <div class="col section_row3_col2">
            <div class="row mar_0 section_row3_col2_row1">
                <div class="col-4 pad_0 section_row3_col2_row1_co1">
                    <span th:text="'價格：$' + *{price}" style="font-size: 32px; color: red;">價格</span><br><br>
                    <span th:text="'品牌：' + *{brand}" style="font-size: 20px; color: #141637;">品牌</span><br><br>
                    <span th:text="'型號：' + *{model}" style="font-size: 20px; color: #141637;">型號</span><br><br>
                    <div class="d-flex align-items-center flex-wrap">
                        <span th:text="'庫存：' + *{inventory}" style="font-size: 20px; color: #141637; margin-top: 0px; margin-bottom: 0px; margin-left: 0px; margin-right: 50px;">庫存</span>
                    </div>
                </div>
                <div class="col pad_0">
                    <span th:text="'品名：' + *{name}" style="font-size: 32px; color: #141637;">品名</span><br><br>
                    <span style="font-size: 20px; color: #141637;">介紹：</span><br>
                    <span th:text="*{introduce}" style="font-size: 20px; color: #141637;">介紹</span>
                </div>
            </div>
            <div class="row justify-content-end section_row3_col2_row2">
                <div class="col-8 d-flex align-items-center justify-content-end pad_0">
                    <span id="js_productStatus" th:if="*{status} == '正常'" th:text="販售狀態：正常" style="font-size: 20px; color: blue;"></span>
                    <span id="js_productStatus" th:if="*{status} == '停售'" th:text="販售狀態：停售" style="font-size: 20px; color: red;"></span>
                    <button type="button" th:onclick="'add_delete_Favorite(' + *{id} + ')'" class="bor_pad_0 add_favorite_btn js_productBtn">加入收藏</button>
                    <button type="button" th:onclick="'add_delete_Trolley(' + *{id} + ')'" class="bor_pad_0 add_trolley_btn js_productBtn">加入購物車</button>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="container-xl pad_0 footer">
    <div class="row justify-content-around mar_0">

        <div class="col pad_0">
            <div class="row mar_0">
                <span class="pad_0"
                      style="margin-top: 10px; margin-bottom: 0px; margin-left: 30px; margin-right: 0px; font-size: 20px; color: #FFFFFF;">關於我們</span>
                <hr class="pad_0 footer_baseline_100">
            </div>
            <div class="row mar_0">
                <span class="pad_0"
                      style="width: 270px; margin-top: 0px; margin-bottom: 0px; margin-left: 30px; margin-right: 0px; font-size: 16px; color: #FFFFFF;">
                    木木吉他是一家專注於吉他的線上零售商。我們為吉他愛好者提供一系列優質的吉他產品和配件。<br>
                    我們與知名品牌合作，提供精心製作的吉他，擁有卓越的音色和舒適的演奏體驗。<br>
                    無論你是初學者還是專業音樂家，木木吉他都能滿足你的吉他需求。請瀏覽我們的網站，探索我們豐富的吉他產品系列，開始你的音樂之旅吧！<br><br>
                </span>
            </div>
        </div>


        <div class="col pad_0">
            <div class="row mar_0">
                <span class="pad_0"
                      style="margin-top: 10px; margin-bottom: 0px; margin-left: 30px; margin-right: 0px; font-size: 20px; color: #FFFFFF;">追蹤我們</span>
                <hr class="pad_0 footer_baseline_100">
            </div>
            <div class="row mar_0">
                <span class="pad_0"
                      style="width: 270px; margin-top: 0px; margin-bottom: 0px; margin-left: 30px; margin-right: 0px; font-size: 16px; color: #FFFFFF;">
                    Facebook<br><br>
                    Instagram<br><br>
                    Youtube<br><br>
                </span>
            </div>
        </div>

        <div class="col pad_0">
            <div class="row mar_0">
                <span class="pad_0"
                      style="margin-top: 10px; margin-bottom: 0px; margin-left: 30px; margin-right: 0px; font-size: 20px; color: #FFFFFF;">會員相關</span>
                <hr class="pad_0 footer_baseline_100">
            </div>
            <div class="row mar_0">
                <span class="pad_0"
                      style="width: 270px; margin-top: 0px; margin-bottom: 0px; margin-left: 30px; margin-right: 0px; font-size: 16px; color: #FFFFFF;">
                    退貨與取消訂單<br><br>
                    隱私聲明<br><br>
                </span>
            </div>
        </div>

        <div class="col pad_0">
            <div class="row mar_0">
                <span class="pad_0"
                      style="margin-top: 10px; margin-bottom: 0px; margin-left: 30px; margin-right: 0px; font-size: 20px; color: #FFFFFF;">服務時間</span>
                <hr class="pad_0 footer_baseline_100">
            </div>
            <div class="row mar_0">
                <span class="pad_0"
                      style="width: 270px; margin-top: 0px; margin-bottom: 0px; margin-left: 30px; margin-right: 0px; font-size: 16px; color: #FFFFFF;">
                    週一~五 - 09:00 ~ 18:00<br><br>
                    週六 - 10:00 ~ 18:00<br><br>
                    週日 - 公休<br><br>
                </span>
            </div>
        </div>

    </div>
</footer>
</body>
</html>