<?xml version="1.0" encoding="UTF-8"?> <!--該行就是 XML 聲明。-->

<!--XML 正文。標籤可以自定義(可擴展的特性)。-->
<!--這裡將標籤取名為 beans，意指多個 javaBean (java 的物件)。-->
<beans>
    <!--在這裡配置了所有需要的 javaBean。-->
    <bean id="index" class="controllers.impl.UserControllerImpl">
        <property name="productController" ref="productController"/>
    </bean>

    <bean id="productController" class="controllers.impl.ProductControllerImpl">
        <property name="productService" ref="productService"/>
    </bean>

    <bean id="productService" class="bo.impl.ProductServiceImpl">
        <property name="productDAO" ref="productDAO"/>
    </bean>

    <bean id="productDAO" class="dao.impl.ProductDAOImpl">
    </bean>

    <!--
    <bean id="userBasicService" class="qqzone.bo.impl.UserServiceImpl">
        <property name="userBasicDAO" ref="userBasicDAO"/>
    </bean>
    <bean id="userBasicDAO" class="qqzone.dao.impl.UserBasicDAOImpl"/>


    <bean id="topic" class="qqzone.controllers.impl.TopicControllerImpl">
        <property name="topicService" ref="topicService"/>
        <property name="userBasicService" ref="userBasicService"/>
    </bean>
    <bean id="topicService" class="qqzone.bo.impl.TopicServiceImpl">
        <property name="topicDAO" ref="topicDAO"/>
    </bean>
    <bean id="topicDAO" class="qqzone.dao.impl.TopicDAOImpl"/>
    -->
</beans>

        <!--
        1.概念
        HTML：超文本標記語言
        XML：可擴展的標記語言
        HTML 是 XML 的一個子集

        2.XML 包含三個部分：
         1) XML 聲明：<?xml version="1.0" encoding="UTF-8"?> 固定寫法。
            它必需要有，且必需在 XML 文件的第一行，它前面不能有任何內容。
         2) DTD 文件類型定義
         3)XML 正文
            它必須要有。
        3.關於節點
          Node 節點
              Element 元素節點( Node 的子介面)
              Text 文本節點

          如：<sname>Lin</sname> => 它有兩個節點，<sname> 元素節點 + Lin 文本節點。要注意空白和換行也算一個文本節點。
        -->
