/* My Custom Styles */


/* checkout.css */
.section {
    display: block;
}

.section_row1 {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 30px;
    padding-right: 30px;
    background: linear-gradient(180deg, #FFFFFF 0%, #F8F8F8 80.21%);
}

.section_row1_col1 {
    font-size: 16px;
    color: #141637;
    line-height: 30px;
    text-align: right;
    height: 30px;
    margin-top: 30px;
}

.section_row2 {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 30px;
    padding-right: 30px;
}

.section_row2_col1 {
    border-top: 0px;
    border-bottom: 1px solid #CDCDCD;
    border-left: 0px;
    border-right: 0px;
}

.section_row3 {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #F8F8F8;
}

.section_row3_col1_row1 {
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 0px;
    margin-right: 0px;
}

.section_row3_col1_row2 {
    margin-top: 16px;
    margin-bottom: 32px;
    margin-left: 0px;
    margin-right: 0px;
}

.field {
    font-size: 20px;
    font-weight: bold;
    color: #141637;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 1px solid #000000;
}

.section_row3_col1_row3 {
    margin-top: 0px;
    margin-bottom: 32px;
    margin-left: 0px;
    margin-right: 0px;
    border-top: 0px;
    border-bottom: 1px solid #CDCDCD;
    border-left: 0px;
    border-right: 0px;
}

.product {
    font-size: 20px;
    color: #141637;
    margin-top: 0px;
    margin-bottom: 32px;
    margin-left: 0px;
    margin-right: 0px;
}

.img_product {
    width: 98px;
    height: 130px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
}

.section_row3_col1_row4 {
    font-size: 20px;
    color: #141637;
}

.count {
    width: 120px;
    height: 32px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
}

.form_mar_bor_pad {
    margin: 0px 0px 10px 0px;
    border-top: 0px;
    border-bottom: 1px solid #CDCDCD;
    border-left: 0px;
    border-right: 0px;
    padding: 0px 0px 20px 0px;
}

.form_text {
    font-size: 20px;
    color: #141637;
    width: 150px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
}

.input_style_200 {
    width: 200px;
    height: 32px;
    border: 3px solid #D8D8D8;
}

.input_style_400 {
    width: 400px;
    height: 32px;
    border: 3px solid #D8D8D8;
}

.form_btn {
    font-size: 20px;
    color: #FFFFFF;
    width: 100px;
    height: 42px;
    background-color: #444BBD;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 0px;
}