/* My Custom Styles */


/* register.css */
.section {
    position: relative;
    display: block;
    z-index: 0;
}

.section::before {
    content: "";
    position: absolute;
    width: 1320px;
    height: 836px;
    background-image: url('../images/0000.jpg');
    background-size: cover;
    opacity: 0.5;
    z-index: -1;
}

.login_form {
    margin-top: 40px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 40px;
    border: 5px solid #E1E0E2;
    border-radius: 5px;
    background: rgba(217, 217, 217, 0.5);
}

.form_title_text {
    font-size: 40px;
    color: #141637;
    width: 160px;
    height: 48px;
    margin-top: 20px;
}

.form_text {
    font-size: 20px;
    color: #141637;
}

.input_style {
    width: 250px;
    height: 32px;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    border: 3px solid #D8D8D8;
}

.login_btn {
    font-size: 20px;
    color: #FFFFFF;
    width: 100px;
    height: 42px;
    background-color: #444BBD;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
}